@import url('https://fonts.googleapis.com/css2?family=Abel&family=Monomaniac+One&display=swap');

*{ 
	
	 padding:0px; 
	 margin:0px; 
	 box-sizing:none;
    	 
} 

.superparent{
	 height:500px;
	 width:1200px;
	 box-sizing: border-box;
	 margin: 50px;
     text-align: center;
	 padding:20px 40px 20px 40px;
	 
 }

.parent{ 
	 height:400px;
	 width:300px;
	 margin: 20px 20px 20px 20px;
	 display:inline-block;
	 border-bottom-left-radius:10px;
	 border-bottom-right-radius:10px;
	 
}
 
img{
	height:200px;
	width:100%;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
 }

.sub{
	height:200px;
	width:100%;
	background-color:black;
    border-bottom-left-radius:10px;	
    border-bottom-right-radius:10px;	
 }

 
 .p2{
	 height:75px;
	 font-family: 'Abel', sans-serif;
     font-size:14px;
	 color:#d8b454;
	 text-align:justify;
	 margin: 10px;
	 padding:5px;
 }
 
 .tittle{
	 font-size:20px;
	 font-weight:bold;
	 color:#d8b454;
	 font-family: 'Abel', sans-serif;
	 padding:5px;
	 padding-top:20px;
 }
 
 a{
	 
	 text-decoration:none;
	 font-size:16px;
	 color:#FFFFFF;
	 font-family: 'Abel', sans-serif;
	 padding:10px;
 }